{% extends 'base.html' %}

{% block header %}
  <div class="container">

    <!-- Logo -->
    <h1 id="logo">Login</h1>

  </div>
{% endblock %}

{% block content %}
<br>
<div class="container justify-content-center" style="max-width: 500px;">
  <!-- Type in information -->
    <form action="/connect" method="post">
      <label for="UserID">User ID</label>
      <input id="UserID" type="text" class="form-control" name="UserID" placeholder="User ID" aria-label="User ID" required>
      <br>
      <input type="submit" value="Submit">
    </form>

</div>

{% endblock %}