{% extends 'base.html' %}

{% block header %}
<section id="header">
  <div class="container">

    <!-- Logo -->
    {% if data %}
    <h1 id="logo">{{data.title}}</h1>
    {% else %}
    <h1 id="logo">Welcome</h1>
    {% endif %}
    
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a class="icon solid fa-search" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/search'" type="submit"><span>Search</span></a></li>
      <li><a class="icon solid fa-chart-bar" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/top_songs'" type="submit"><span>Top Songs</span></a></li>
      <li><a class="icon solid fa-microphone" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/top_artists'" type="submit"><span>Top Artists</span></a></li>
      <li><a class="icon solid fa-retweet" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/recent'" type="submit"><span>Recently Played</span></a></li>
      <li><a class="icon solid fa-sitemap" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/playlists'" type="submit"><span>Playlists</span></a></li>
      <li><a class="icon solid fa-heart" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/saved'" type="submit"><span>Saved Songs</span></a></li>
    </ul>
  </nav>

  </div>
</section>
{% endblock %}

{% block content %}
{% endblock %}