{% extends 'base.html' %}

{% block header %}
<section id="header">
    <div class="container">
  
      <!-- Logo -->
      <h1 id="logo">Thank you</h1>
      <br>
      <br>
      
      <form action="{{response.url}}" method="get">
        <input hidden name="client_id" value="{{response.client_id}}" />
        <input hidden name="redirect_uri" value="{{response.redirect_uri}}" />
        <input hidden name="scope" value="{{response.scope}}" />
        <input hidden name="response_type" value="{{response.response_type}}" />
        <input hidden name="state" value="{{response.state}}" />
        <button type="submit" type="button">Continue</button>
    </form>
  
    </div>
  </section>

{% endblock %}