{% extends 'index.html' %}

{% block content %}

  <!-- Excerpts -->
  <div class="justify content center" style="padding-left: 30%;">
    <ul class="divided">
     
      <table>
        <tr>
          <th style="min-width: 210px;"><h3><strong>Playlist</strong></h3></th>
          <th></th>
        </tr>
        {% for key, val in data.playlists.items() %}
        <tr>
          <td><strong>{{val["name"]}}</strong></td>
          <td>
            <form action="/actions/playlists" method="post" class="actions">
              <input hidden id="playlist_id" name="playlist_id" value="{{key}}">
              <button type="submit" value="View Songs">View Songs</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>

    </ul>
  </div>

{% endblock %}