{% extends 'index.html' %}

{% block content %}

  <!-- Excerpts -->
  <div class="table-padding">
    <ul class="divided">
     
      <table>
        <tr>
          <th style="min-width: 210px;"><h3><strong>Playlist</strong></h3></th>
          <th></th>
        </tr>
        {% for key, val in data.playlists.items() %}
        <tr>
          <td><strong>{{val["name"]}}</strong></td>
          <td>
            <form action="/actions/playlist" method="post" class="actions">
              <input hidden id="playlist_id" name="playlist_id" value="{{key}}">
              <button type="submit" value="View Songs">View Songs</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>

      <br>
      {% if (data.next) or (data.prev) %}

      <div class="form-buttons">
        <form action="/actions/playlists" method="post" class="actions form-button">
          <input hidden id="playlist_url" name="playlist_url" value="{{data.prev}}">
          {% if (data.prev) %}
          <button type="submit" value="View Songs">Prev</button>
          {% else %}
          <button class="alt" disabled>Prev</button>
          {% endif %}
        </form>

        <form action="/actions/playlists" method="post" class="actions form-button">
          <input hidden id="playlist_url" name="playlist_url" value="{{data.next}}">
          {% if (data.next) %}
          <button type="submit" value="View Songs">Next</button>
          {% else %}
          <button class="alt" disabled>Next</button>
          {% endif %}
        </form>
        
      </div>

      {% endif %}

    </ul>
  </div>

{% endblock %}