{% extends 'index.html' %}

{% block content %}

<!-- Search -->
<div class="justify content center col-12 col-12-medium" style="padding-left: 10%;">
  <section>
    <form method="post" action="/actions/search">
      <div class="row gtr-50">
        <div class="col-4 col-12-small">
          <input id="search_item" name="search_item" placeholder="Search item" type="text">
        </div>
        <div class="col-4 col-12-small">
          <select id="search_type" name="search_type" type="radio">
            <option selected name="song" value="song">Search by Song</option>
            <option name="artist" value="artist">Search by Artist</option>
          </select>
        </div>
        <div class="col-4 col-12-small">
          <button type="submit">Search</button>
        </div>
      </div>
    </form>
  </section>
</div>

{% endblock %}