{% extends 'base.html' %}

{% block header %}
<section id="header">
  <div class="container">

    <!-- Logo -->
    <h1 id="logo">Search</h1>
    
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a class="icon solid fa-home" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/search'" type="submit"><span>Search</span></a></li>
      <li><a class="icon solid fa-chart-bar" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/top_songs'" type="submit"><span>Top Songs</span></a></li>
      <li><a class="icon solid fa-cog" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/top_artists'" type="submit"><span>Top Artists</span></a></li>
      <li><a class="icon solid fa-retweet" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/recent'" type="submit"><span>Recently Played</span></a></li>
      <li><a class="icon solid fa-sitemap" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/playlists'" type="submit"><span>Playlists</span></a></li>
    </ul>
  </nav>

  </div>
</section>
{% endblock %}

{% block content %}

<!-- Search -->
<div class="justify content center col-12 col-12-medium">
  <section>
    <form method="post" action="/actions/search">
      <div class="row gtr-50">
        <div class="col-4 col-12-small">
          <input id="search_item" name="search_item" placeholder="Search item" type="text">
        </div>
        <div class="col-4 col-12-small">
          <select id="search_type" name="search_type" type="radio">
            <option selected name="song" value="song">Search by Song</option>
            <option name="artist" value="artist">Search by Artist</option>
          </select>
        </div>
        <div class="col-4 col-12-small">
          <button type="submit">Search</button>
        </div>
      </div>
    </form>
  </section>
</div>

{% endblock %}