{% extends 'index.html' %}

{% block content %}

  <!-- Excerpts -->
  <section>
    <ul class="divided">
     {% if data %}
      <table>
        <!-- Table header -->
        <tr>
          <th class="title"><h3><strong>Title</strong></h3></th>
          <th class="artist"><h3><strong>Artist</strong></h3></th>
          {% for attr, avg in data.attr_avgs.items() %}
          <th class="attr"><h3><strong>{{attr}}</strong></h3></th>
          {% endfor %}
          <th><h3><strong>Save</strong></h3></th>
        </tr>
        <!-- Attribute averages -->
        {% if data.attr_avgs %}
        <tr class="attr">
          <td><i>Averages</i></td>
          <td></td>
          
          {% for attr, avg in data.attr_avgs.items() %}
          <td><i>{{avg}}</i></td>
          {% endfor %}
        </tr>
        {% endif %}
        <!-- Table data -->
        {% for key, val in data.songs.items() %}
        <tr>
          <td><strong>{{val["title"]}}</strong></td>
          <td>{{val["artist"]}}</td>
          {% if val.attributes %}
          {% for attr, num in val.attributes.items() %}
          <td class="attr">{{num}}</td>
          {% endfor %}
          {% else %}
          <td></td>
          {% endif %}
          <td>      
            <form action="/actions/saved" method="post" class="actions">
              <input hidden id="song_id" name="song_id" value="{{key}}">
              <input hidden id="artist" name="artist" value="{{val.artist}}">
              <input hidden id="title" name="title" value="{{val.title}}">
              <input hidden id="url" name="url" value="{{url_for(request.endpoint)}}">
              {% if key in saved %}
              <button id="heart" type="submit" class="icon fa-heart solid"></button>
              {% else %}
              <button id="heart" type="submit" class="icon fa-heart"></button>
              {% endif %}
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>

    </ul>
    {% else %}
    <p>No songs</p>
    {% endif %}
  </section>

{% endblock %}