{% extends 'index.html' %}

{% block content %}

  <!-- Excerpts -->
  <section>
    <ul class="divided">
     {% if data and data.attr_avgs %}
      <table>
        <!-- Table header -->
        <tr>
          <th class="title"><h3><strong>Title</strong></h3></th>
          <th class="artist"><h3><strong>Artist</strong></h3></th>
          {% for attr, avg in data.attr_avgs.items() %}
          <th class="attr"><h3><strong>{{attr}}</strong></h3></th>
          {% endfor %}
          <th><h3><strong>Save</strong></h3></th>
        </tr>
        <!-- Attribute averages -->
        <tr class="attr">
          <td><i>Averages</i></td>
          <td></td>
          {% for attr, avg in data.attr_avgs.items() %}
          <td><i>{{avg}}</i></td>
          {% endfor %}
        </tr>
        <!-- Table data -->
        {% for key, val in data.songs.items() %}
        <tr>
          <td><strong>{{val["title"]}}</strong></td>
          <td>{{val["artist"]}}</td>
          {% if val.attributes %}
          {% for attr, num in val.attributes.items() %}
          <td class="attr">{{num}}</td>
          {% endfor %}
          {% else %}
          <td></td>
          {% endif %}
          <td>      
            <li><a class="icon solid fa-heart" onclick="location.href='http:\/\/127.0.0.1:5000\/actions\/saved'" type="submit"></a></li>
          </td>
        </tr>
        {% endfor %}
      </table>

    </ul>
    {% else %}
    <p>No songs</p>
    {% endif %}
  </section>

{% endblock %}