{% extends 'index.html' %}

{% block content %}

  <!-- Excerpts -->
  <section>
    <ul class="divided">
     
      <table>
        <!-- Table header -->
        <tr>
          <th style="min-width: 210px;"><h3><strong>Title</strong></h3></th>
          <th><h3><strong>Artist</strong></h3></th>
          {% for attr, avg in data.attr_avgs.items() %}
          <th><h3><strong>{{attr}}</strong></h3></th>
          {% endfor %}
        </tr>
        <!-- Attribute averages -->
        <tr>
          <td><i>Averages</i></td>
          <td></td>
          {% for attr, avg in data.attr_avgs.items() %}
          <td><i>{{avg}}</i></td>
          {% endfor %}
        </tr>
        <!-- Table data -->
        {% for key, val in data.songs.items() %}
        <tr>
          <td><strong>{{val["title"]}}</strong></td>
          <td>{{val["artist"]}}</td>
          {% if val.attributes %}
          {% for attr, num in val.attributes.items() %}
          <td>{{num}}</td>
          {% endfor %}
          {% endif %}
        </tr>
        {% endfor %}
      </table>

    </ul>
  </section>

{% endblock %}