{% extends 'index.html' %}

{% block content %}

  <!-- Excerpts -->
  <section>
    <ul class="divided">
     
      <table>
        <tr>
          <th class="artist"><h3><strong>Artist</strong></h3></th>
          <th class="attr"><h3><strong>Popularity</strong></h3></th>
          <th class="attr"><h3><strong>Genres</strong></h3></th>
          <th></th>
        </tr>
        {% for key, val in data.artists.items() %}
        <tr>
          <td><strong>{{val["artist"]}}</strong></td>
          <td class="attr">{{val["popularity"]}}</td>
          <td class="attr">{{val["genres"]}}</td>
          <td>
            <form action="/actions/top_artists" method="post" class="actions">
              <input hidden id="artist_id" name="artist_id" value="{{key}}">
              <button type="submit" value="View Songs">View Songs</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>

    </ul>
  </section>

{% endblock %}